

// fonts
@font-face {
 font-family: 'Tiempos';
 font-style: normal;
 font-weight: 400;
 src: url(../resources/fonts/TiemposTextWeb-Regular.woff2) format('woff2');
}
@font-face {
 font-family: 'Tiempos';
 font-style: italic;
 font-weight: 400;
 src: url(../resources/fonts/TiemposTextWeb-RegularItalic.woff2) format('woff2');
}
@font-face {
 font-family: 'Tiempos';
 font-style: normal;
 font-weight: bold;
 src: url(../resources/fonts/TiemposTextWeb-Bold.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800');

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap');

// - tailwind

@tailwind base;

@tailwind components;

@import "variants";

@import "customs";

@tailwind utilities;
